<ion-content id="main-content" [fullscreen]="true">
  <div class="page-background">
    <div class="logo-container">
      <img src="/assets/dolphin-logo.png" alt="Logo">
      <h1>Искрящиеся дельфинчики</h1>
    </div>
    <div class="menu">
      <a href="/home" style="padding: 10px;">Челлендж для 11 тех</a>
      <!-- <a href="/home" style="padding: 10px;">Ежедневная задача</a> -->
      <a style="padding: 10px;">Организации</a>
      <a style="padding: 10px;">Авторизация</a>
    </div>
    <h1 class="bottom-right">{{ currentSlogan }}</h1>
  </div>

  <div class="about-us">
    <div #counterElement class="counter-container">
      <h1>
        <span class="highlight-text">НАС </span>
        <span class="counter-text">{{ currentCounter }}</span>
        <span class="highlight-text"> ЧЕЛОВЕК</span>
      </h1>
    </div>
    <div class="info-container">
      <h1><span class="highlight-text">ДРУЖНОЕ </span><span class="white-text">КОММЬЮНИТИ</span></h1>
    </div>
    <div class="info-container">
      <h1><span class="white-text">ЕЖЕДНЕВНЫЕ </span><span class="highlight-text">ЗАДАЧИ</span></h1>
    </div>
  </div>
  <div class="menu">
    <div class="arrow-container">
      <div class="arrow"></div>
      <div class="arrow"></div>
      <div class="arrow"></div>
    </div>
    <ion-button href="/home" style="margin: 100px;">Челлендж для 11 тех</ion-button>
  </div>
</ion-content>