<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Ежедневные задачки
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let dailyTask of getAvailableTasks()">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-title style="color: var(--ion-text-color);">Задача Дня</ion-title>
                  </ion-col>
                  <ion-col>
                    <ion-title style="text-align: right;">{{ dailyTask.date }}</ion-title>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
            <ion-card>
              <div class="card-content">
                <img *ngIf="dailyTask.image" [src]="dailyTask.image" alt="image" class="card-image">
                <div class="card-text">
                  <p #mathContent [innerHTML]="dailyTask.task"></p>
                </div>
              </div>
            </ion-card>
            <ion-card *ngIf="dailyTask.solution">
              <ion-title style="color: var(--ion-text-color); margin-top: 5px;">Решение</ion-title>
              <div style="margin: 10px;">
                <app-spoiler [text]="dailyTask.solution"></app-spoiler>
              </div>
            </ion-card>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Организации
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let organization of organizations" lines="none">
                <ion-card (click)="onOrganizationClick(organization.tag)" class="full-width-card">
                  <ion-card-header>
                    <ion-card-title>
                      {{ organization.name }}
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    {{ organization.description }}
                  </ion-card-content>
                </ion-card>
              </ion-item>

              <ion-item *ngIf="organizations.length === 0">
                <ion-label class="ion-text-center">
                  No organizations found.
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>